<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - microblog</title>
    {% else %}
        <title>Welcome to microblog</title>
    {% endif %}

    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script>
        function count_symbols(sourceId, resultId, loadingId) {
            $(resultId).hide();
            $(loadingId).show();
            $.post('/count_symbols', {
                text: $(sourceId).text()
            }).done(function(result) {
                $(resultId).text(result['count']);
                $(loadingId).hide();
                $(resultId).show();
            }).fail(function() {
                $(resultId).text("{{ _('Error: Could not contact server.') }}");
                $(loadingId).hide();
                $(resultId).show();
            });
        }
    </script>
</head>
<body>
    <div>
        Microblog:
        <a href="/index">Home</a>
        {% if g.user.is_authenticated() %}
        | <a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a>
        | <a href="{{ url_for('logout') }}">Logout</a>
        | <form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">
            {{ g.search_form.hidden_tag() }}
            {{ g.search_form.search(size=20) }}
            <input type="submit" value="Search">
        </form>
        {% else %}
        | <a href="/login">Login</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
