<p>
    <a href="{{ url_for('user', nickname=post.author.nickname)}}">{{ post.author.nickname }}</a>
    said {{ momentjs(post.timestamp).from_now() }}:
</p>
<p>
    <p id="post{{ post.id }}"><strong>{{ post.body }}</strong></p>
    <span id="symbols{{ post.id }}">
        <a href="javascript:count_symbols('#post{{ post.id }}', '#symbols{{ post.id }}', '#loading{{ post.id }}');">
            {{ _('Test Ajax (count symbols)') }}
        </a>
    </span>
    <img id="loading{{post.id}}" style="display: none" src="/static/img/loading.gif">

</p>
